@import url('https://fonts.googleapis.com/css2?family=Space+Mono');

.App-TipCalculator {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  flex-direction: column;

  margin: 0;
  font-family: 'Space Mono', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 24px;
    background: hsl(185, 41%, 84%);
}

.color {
  width: 100px;
  height: 50px;

  font-size: 8px;
}