.contact {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: .7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .container-contact {
    width: 400px;
    background: #FFF;
    height: 550px;
    opacity: 1;
    position: relative;
    box-shadow: 0px 0px 16px -2px rgba(255,255,255,0.66);

    .header-form {

      h4 {
        margin: 17px 0 0 0;
        text-align: center;
        font-size: 21px;
      }

      img {
        position: absolute;
        right: 17px;
        top: 17px;
        cursor: pointer;
      }
    }
    
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      margin: auto;
      height: calc(100% - 48px);
      color: #3F3F3F;

      input {
        height: 35px;
        width: calc(100% - 30px);
        border: 2px solid #3F3F3F;
        padding: 0 15px;

        &:focus {
          border-color: #FA7A19;
        }
      }
      textarea {
        width: calc(100% - 30px);
        height: 200px;
        border: 2px solid #3F3F3F;
        padding: 5px 15px;
        font-family: 'Arial';
        line-height: 1.1rem;
      }
      input[type=submit] {
        width: 100%;
        font-family: Poppins;
        font-weight: 700;
        font-size: 17px;
        height: 45px;
        color: #FFF;
        background: #FA7A19;
        border: none;
        cursor: pointer;
        transition: .3s linear;

        &:hover {
          border: 3px solid #FA7A19;
          background: #FFF;
          color: #FA7A19;
        }
      }
      .success {
        text-align: center;
        margin-top: 5px;
        color: #20bd0e;
      }
    }
  }
}

body {
  position: inherit;
}

@media screen and (max-width: 760px) {
  .contact {
    .container-contact {
      width: 375px;
    }
  }
}