.view-project {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: .7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .container-view-project {
    width: 600px;
    background: rgba(184, 184, 184, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    // height: 650px;
    opacity: 1;
    position: relative;
    box-shadow: 0px 0px 16px -2px rgba(255, 255, 255, 0.2);

    .slider {
      height: 300px;
      background: #322B2B;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(4px);
      border-radius: 25px;
    
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
  
        border-top-left-radius: 25px;  
        border-top-right-radius: 25px; 
      }
    }

    .infos {
      padding: 25px;

      h3 {
        margin: 0 0 15px 0;
        font-weight: 600;
        font-size: 24px;
        color: #FFF;
      }

      p {
        color: #FFF;
        font-size: 15px;
        // min-height: 260px;
      }
    }

    .project-technos {
      font-size: 23px;
      font-weight: 700;
      line-height: 23px;
      color: #FFF;

      margin: 0;
      margin-top: 25px;

      text-align: center;
      text-shadow: 2px 2px 0px #FA7A19;
    }
  }
}

body {
  position: inherit;
}

@media screen and (max-width: 760px) {
  .contact {
    .container-contact {
      width: 375px;
    }
  }
}