.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;

  height: calc(100% - 80px);
}

.list-cards {
  display: flex;
  width: 70%;
  max-width: 1075px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto;
}

@media screen and (max-width: 915px) {
  .projects-section {
    padding: 0;

    height: 100%;
  }
}