.wrapper-input {
  width: 100%;
  position: relative;

  .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

label {
  font-size: 14px;
  text-align: left;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  margin-bottom: 13px;
}

.input-number {
  background: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;

  padding: 10px 15px;
  text-align: right;

  font-family: Space Mono;
  font-weight: 700;
  font-size: 20px;

  &:hover {
    outline: -webkit-focus-ring-color auto 1px;
  }

  &::placeholder {
    color: hsl(185, 41%, 84%);
    font-weight: 700;
  }

	-moz-appearance: textfield;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin:0;
	}

}