.checkbox {
  width: 115px;
  height: 45px;
  background: hsl(183, 100%, 15%);
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;

  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: hsla(172, 67%, 45%, 0.447);
    color: hsl(183, 100%, 15%);
  }
}

.active-checkbox {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}